
<div class="container mt-5" *ngIf="existingComments"  style="padding: 20px 10px 55px 10px">
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Show Existing Comments
        </mat-panel-title>
        <mat-panel-description>
         Ammount of Existing Comments: {{existingComments.length}}
        </mat-panel-description>
      </mat-expansion-panel-header>

<!-- <div class="row" *ngFor="let comment of existingComments">
<div class="col-3">
  Reporter Name:  {{comment.reporter}}
</div>
<div class="col-7">
  Comment: {{comment.description}}
</div>
</div> -->

<table mat-table [dataSource]="existingComments">

    <ng-container matColumnDef="Reporter">
        <th mat-header-cell *matHeaderCellDef> Reporter </th>
        <td mat-cell *matCellDef="let element"> {{element.reporter}} </td>
      </ng-container>

      <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

    </mat-expansion-panel>
</div>

