.search-text {
  margin-top: 20px;
  white-space: nowrap;
}

.search-button {
  margin-top : 15px;
  cursor: pointer;
}

.clear-button {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 7px;
  color: red;
}
