<form class="form-inline" [formGroup]="searchForm">
  <div class="row">
    <div class="col">
      <h6 class="search-text">Search by:</h6>
    </div>
    <div class="col">
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <input matInput placeholder="Priority" formControlName="priority">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <input matInput placeholder="Reporter" formControlName="reporter">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <input matInput placeholder="Status" formControlName="status">
      </mat-form-field>
    </div>
        <mat-icon class="search-button" (click)="searchWithParams(searchForm)">search</mat-icon>
        <mat-icon [@openClose]="showClearBtn ? 'open' : 'closed'" class="clear-button" (click)="resetParams()">clear</mat-icon>
  </div>
</form>
