<form [formGroup]="myForm" (submit)="formSubmit(myForm)">
    <div class="container mt-5 mat-elevation-z8" style="padding: 20px 10px 55px 10px">
        <div class="example-container">
          <h3>Bug Details
              <mat-icon class="arrow_back" (click)="backToDashboard()" matTooltip="Back" >arrow_back</mat-icon>
          </h3>
          <br>
          <mat-form-field>
            <input matInput placeholder="Title" formControlName="title">
            <mat-error *ngIf="myForm.get('title').hasError('required')">
              * Title is Required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
            <mat-error *ngIf="myForm.get('description').hasError('required')">
              * Description is Required
            </mat-error>
          </mat-form-field>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-select placeholder="Priority" formControlName="priority">
                  <mat-option *ngFor="let value of Priority" [value]="value.value">{{value.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="myForm.get('priority').hasError('required')">
                  * Priority is Required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-select placeholder="Reporter" formControlName="reporter">
                  <mat-option *ngFor="let value of Reporter" [value]="value">{{value}}</mat-option>
                </mat-select>
                <mat-error *ngIf="myForm.get('reporter').hasError('required')">
                  * Reporter is Required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-select placeholder="Status" formControlName="status">
                  <mat-option *ngFor="let value of Status" [value]="value">{{value}}</mat-option>
                </mat-select>
                <mat-error *ngIf="myForm.get('status').hasError('required')">
                  * Status is Required
                </mat-error>
              </mat-form-field>
            </div>
          </div>


        </div>
     <app-bug-comments  *ngIf="myForm.value.reporter !== 'QA'" [parrentForm]="myForm" ></app-bug-comments>

    <button *ngIf="editBugId" class="btn btn-outline-danger mt-2" type="button" mat-raised-button (click)="deleteBug()">
      <mat-icon>delete</mat-icon>
    </button>
    <button class="btn btn-outline-success sbmt-button mt-2" type="submit" mat-raised-button>Submit</button>
    </div>
  </form>


